<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
  </head>
  <body>
    <div class="container-login">
      <div>
        <form class="devbook-form" id="form-register">
          <span>Create your account!</span>
          <div>
            <input
              type="text"
              name="name"
              id="name"
              placeholder="Insert your name here..."
              required="required"
            />
          </div>
          <div>
            <input
              type="text"
              name="nick"
              id="nick"
              placeholder="Insert your nickname here..."
              required="required"
            />
          </div>
          <div>
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Insert your email here..."
              required="required"
            />
          </div>
          <div>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Insert your password here..."
              required="required"
            />
          </div>
          <div>
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm your password..."
              required="required"
            />
          </div>
          <a href="/login">Already have an account? Click here to Login!</a>
          <button type="submit" class="btn-devbook">Register</button>
        </form>
      </div>
    </div>
    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/create_user.js"></script>
  </body>
</html>
